[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "bundle/better-whitespace"]
	path = bundle/better-whitespace
	url = git@github.com:ntpeters/vim-better-whitespace.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/hclfmt"]
	path = bundle/hclfmt
	url = git@github.com:fatih/vim-hclfmt.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule "bundle/json"]
	path = bundle/json
	url = git@github.com:elzr/vim-json.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/terraform"]
	path = bundle/terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "bundle/yaml"]
	path = bundle/yaml
	url = git@github.com:stephpy/vim-yaml.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "bundle/lsp"]
	path = bundle/lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule "bundle/lsp-settings"]
	path = bundle/lsp-settings
	url = git@github.com:mattn/vim-lsp-settings.git
[submodule "bundle/asyncomplete"]
	path = bundle/asyncomplete
	url = git@github.com:prabirshrestha/asyncomplete.vim.git
[submodule "bundle/asyncomplete-lsp"]
	path = bundle/asyncomplete-lsp
	url = git@github.com:prabirshrestha/asyncomplete-lsp.vim.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/nix"]
	path = bundle/nix
	url = git@github.com:LnL7/vim-nix.git
[submodule "bundle/bettergrep"]
	path = bundle/bettergrep
	url = git@github.com:qalshidi/vim-bettergrep.git
